* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

#div1 {
  background-color: #fabfb7;
  float: left;
  width: 45%;
}

#div2 {
  background-color: #fdf9c4;
}

#div3 {
  background-color: #ffda9e;
  float: right;
  width: 35%;
}

#div4 {
  background-color: #c5c6c8;
}

#div5 {
  background-color: #b2e2f2;
  clear: both;
}
