html *{
    font-size: 30px;
}

body {
   background-color: blueviolet; 
}

h1, h2{
    color: aqua;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#fondoAmarillo{
    background-color: yellowgreen;
}
