header{
    border: 10px dotted brown;
    background-color: aquamarine;
    width: 80%;
    height: 200px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
h1{
    text-align: center;
    color: blue; /*Color azul */
    padding: 10px;
}
h2{
    text-align: center;
}
h1:before{
    content: "Introducción a esta prueba de código";
}
h1:after{
    content: "Fin de la intro!";
}
#divleft{
    margin-top: 20px;
    width: 35%;
    float: left;
    height: 200px;
    background-color: rgb(168, 98, 11);
    
}
#divright{
    margin-top: 20px;
    width: 35%;
    float: left;
    height: 200px;
    background-color: rgb(168, 98, 11);
    margin-left: 30%;
    
}

section{
    margin-top: 40px;
    width: 80%;
    height: 200px;
    margin: auto;
    
}
p{
    text-align: center;
    padding: 5px;
}
div > p{
    font-size: 19px;
}
table, td{
    height: auto;
    width: 30%;
    border: 1px solid black;
    color: black;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}
#divtabla{
    margin: auto;
    margin-top: 200px;
clear: both;
width: 100%;
}
a:link{
    color: black;
}
a:visited{
    color: blue;
}
a:hover{
    color: green;
}
p:first-letter{
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
