h1 {
    background-color: aquamarine;
    width: 25%;
}
#div1{
    background-color: blue;
    width: 55%;
    margin: auto;
}
#div2{
    background-color: brown;
}
#div3{
    background-color: palegreen;
}