h1{
    margin: auto;
    text-align: center;
}
div{
    border: 3px solid blue;
    width: 25%;
    height: auto;
    margin: auto;
    
}
form{
    
    margin: auto;
text-align: center;
}

#morado{
    background-color: purple;
}
