
form{
    
    border:2px solid red;
    border-style: dotted;
    width: 25%;

    height: auto;
    margin: auto;
    padding: 15px;
}
label{
    margin-right: 20px;
   
}
input[type=radio], input[type=text]{
    margin-bottom: 20px;
}
input[type=submit]{
    margin-right: 25px;
}
input[type=radio]{
    margin-right: 25px;
}